.header {
  background-color: #fff;
  font-family: var(--main-font);
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  padding: 30px 0;
}

.nav-logo {
  width: 40px;
}

.nav-logo img {
  width: 100%;
  filter: drop-shadow(1px 3px 2px #b6b5b5);
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.navigation-item {
  font-size: 1.6rem;
  font-weight: 400;
  color: #182327;
}

.navigation-item a {
  padding: 20px 0;
}

/*  */

.header-right {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  gap: 22px;
}
