.footer {
  background-color: rgba(255, 247, 227, 1);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
  padding-top: 100px;
}

.footer-left {
  flex: 1;
  align-self: center;
}

.footer-right {
  flex: 1;
}

.footer-navigation {
  display: flex;
}

.footer-navigation-item {
  padding: 20px 0;
  margin-right: 20px;
}

.footer-social-wrapper {
  margin-top: 20px;
}

.footer-social-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--third-color);
  color: #fff;
  font-size: 1.6rem;
  margin-right: 15px;
}

.footer-social-btn i {
  transform: translate(10%, 5%);
}

.footer-desc {
  margin-top: 30px;
}

.footer-img {
  background-color: rgba(198, 234, 248, 1);
  border-radius: 12px;
  width: 570px;
  height: 484px;
  margin-left: 15px;
  text-align: center;
}

.footer-img img {
  transform: translateY(5%);
}
